.screenshot-1-img-page {
    background: #e4e5e9;
    width: 92%;
    height: 100%;
    margin: 95px auto;
    padding: 40px;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3s ease box-shadow;
}

.screenshot-1-img-page:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}